//colors

$bright-blue: #0079FF;
$grey:#697C9A;
$faded-blue:#4B6A9B;
$dark-brown:#2B3442;
$grey-white: #F6F8FF;
$almost-white:#FEFEFE;
$white: #fff;
$very-dark-blue: #141D2F;
$dark-blue:#1E2A47;
$red:#F74646;

//ui

$background-dark-body:$very-dark-blue;
$background-dark-main:$dark-blue;
$background-dark-input:$dark-blue;
$background-light-body:$grey-white;
$background-light-main:$almost-white;
$background-light-input:$almost-white;
$background-button:$bright-blue;
$color-dark-main:$white;
$color-light-main:$faded-blue;
$color-light-accent:$dark-brown;
$color-error:$red;