//colors

$bright-blue: #0079FF;
$grey:#697C9A;
$faded-blue:#4B6A9B;
$dark-brown:#2B3442;
$grey-white: #F6F8FF;
$almost-white:#FEFEFE;
$white: #fff;
$very-dark-blue: #141D2F;
$dark-blue:#1E2A47;

//ui

$background-dark-body:$very-dark-blue;
$background-dark-main:$dark-blue;
$background-dark-input:$dark-blue;
$background-button:$bright-blue;
$color-dark-main:$white;